<div class="m-6">
    <div>
        โจทย์ : For implementing function with this interface
        merge (int[] collection_1, int[] collection_2, int[] collection_3) : int []
    </div>
    <div class="pt-4">
        เงื่อนไข : <br>
        1. collection_1, collection_3 already sorted from min(0) to max<br>
        2. collection_2 already sorted from max to min(0)<br>
        3. Don't allow to use any sort function<span class="text-red-600">*</span>
    </div>

    <div class="m-6 pt-6">
        กำหนดตัวแปร : <br>
        collection_1 = [5, 2, 4, 6, 0, 3, 1];<br>
        collection_2 = [9, 12, 7, 10, 11, 8];<br>
        collection_3 = [14, 13, 16, 17, 15, 18];
    </div>

    <div class="m-6 pt-6">
        คำตอบ : [{{mergedAll}}]
    </div>
</div>